<% include ../head %>
<div class="container">
    <h3><a href="/<%- project.id %>"><i class="fa fa-chevron-left"></i> <%- project.name %></a></h3>

    <h1>New run</h1>

    <form action="/<%- project.id %>/new" method="POST" enctype="multipart/form-data">

        <fieldset>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </fieldset>

        <fieldset>
            <label for="libraryType">library Type</label>
            <select id="libraryType" name="libraryType" class="form-control" required>
                <option value="">Select type</option>
                <option>paired</option>
                <option>mate</option>
                <option>unpaired</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="sequencingProvider">Sequencing Provider</label>
            <input type="text" class="form-control" id="sequencingProvider" name="sequencingProvider">
        </fieldset>

        <fieldset>
            <label for="sequencingTechnology">Sequencing Technology</label>
            <input type="text" class="form-control" id="sequencingTechnology" name="sequencingTechnology">
        </fieldset>

        <fieldset>
            <label for="communicationExcerpts">Communication Excerpts</label>
            <input type="text" class="form-control" id="communicationExcerpts" name="communicationExcerpts">
        </fieldset>

        <fieldset>
            <label for="sequencingProviderDatasheets">Sequencing Provider Datasheets</label>
            <input type="text" class="form-control" id="sequencingProviderDatasheets"
                   name="sequencingProviderDatasheets">
        </fieldset>

        <fieldset>
            <label for="libraryInformation">library Information</label>
            <textarea class="form-control" rows="3" id="libraryInformation" name="libraryInformation"
                      required></textarea>
        </fieldset>

        <fieldset>
            <label for="submissionToPublicPortal">Submission To Public Portal</label>
            <input type="text" class="form-control" id="submissionToPublicPortal" name="submissionToPublicPortal">
        </fieldset>

        <fieldset>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="galaxyDataWanted" name="galaxyDataWanted"> galaxyDataWanted
                </label>
            </div>
        </fieldset>

        <div>

            <div id="filesRoot">

            </div>
            <input class="button addFileInput" type="button" value="Add more files">

        </div>

        <button type="submit" class="button button-primary">Add</button>
    </form>

</div>


<% include ../foot %>