<% include ../head %>
<div class="container">

    <h3><a href="/<%- read.run.projectID %>/<%- read.runID %>"><i class="fa fa-chevron-left"></i> <%- read.run.name %></a></h3>

    <h1><%- read.name %></h1>

</div>

<% include ../foot %>