<% include head %>
<div class="container">

    <h3><a href="/">< Projects</a></h3>

    <% var thisTitle = title ? title : 'Error!'; %>

    <h1 class="center" style="font-size:4em;"><%- thisTitle %></h1>

    <h3 class="red center"><%- error %></h3>
</div>

<% include foot %>