<!--<div class="footer">-->
    <!--<div class="container">-->
        <!--<div class="pull-left">-->
            <!--Built by <a href="http://twitter.com/biodevops" target="_blank">Martin Page</a> and <a href="http://twitter.com/cpt_bwt" target="_blank">Christian-->
                <!--Schudoma</a>-->
        <!--</div>-->

        <!--<div class="pull-right">-->
            <!--<i class="fa fa-tint"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script src="/components/terrier/js/terrier.js"></script>
<script src="/components/taxlookup/dist/taxlookup.min.js"></script>
<script src="/js/ncbi.js"></script>
<script src="/components/tooltipster/js/jquery.tooltipster.min.js"></script>

<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({position: 'right'});
    });
</script>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>