<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/terrier/js/terrier.js"></script>
<script src="/components/taxlookup/dist/taxlookup.min.js"></script>
<script src="/js/ncbi.js"></script>
<script src="/js/md5Files.js"></script>
<script src="/js/additionalFiles.js"></script>

</body>
</html>