<script src="/components/react/react.min.js"></script>
<script src="/components/react/react-dom.min.js"></script>

<script src="/js/fileUploader_React_Babel.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/components/terrier/js/terrier.js"></script>
<script src="/components/taxlookup/dist/taxlookup.min.js"></script>
<script src="/js/ncbi.js"></script>
<!--<script src="/components/tooltipster/js/jquery.tooltipster.min.js"></script>-->
<!--<script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>-->
<!--<script src="/components/socket.io-client/socket.io.js"></script>-->


<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
