<script src="/js/fileUploader.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/components/terrier/dist/terrier.min.js"></script>
<script src="/components/taxlookup/dist/taxlookup.min.js"></script>
<script src="/js/ncbi.js"></script>


<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
