<% include ./head %>

<div class="container center">

    <h1>TSL Read Data Archive</h1>

    <img class="responsive center" src="/img/datahog.png" style="max-width:512px;">


    <a href="/groups" class="button big center primary">Show groups</a>

</div>

<% include ./foot %>