<% include ./head %>

<div class="container center">

    <h2>TSL Read Data Archive</h2>

    <p>If you are new to the Read Data Archive please read the <a
                href="/data_hog_guide.pdf">
            beginners guide</a>
    </p>

    <a href="/groups" class="button big center primary">Show groups</a>

</div>

<% include ./foot %>