<% include ./head %>

<div class="container center">

    <h2>TSL Read Data Archive</h2>

    <p>Description text here</p>

    <!--<img class="responsive center" src="/img/datahog.png" style="max-width:512px;margin-bottom: 20px;">-->
    <!--<img class="responsive center" src="/img/TSL.jpg" style="max-width:512px;margin-bottom: 20px;">-->


    <a href="/groups" class="button big center primary">Show groups</a>

</div>

<% include ./foot %>