<% include ./head %>

<div class="container center">

    <h1>TSL Read Data Archive</h1>

    <p>This is a thing, you should use this thing cos its a good thing...</p>


    <a href="/groups" class="button primary">Show Projects by group</a>

    <a href="/new" class="button primary">Add new Project</a>

</div>

<% include ./foot %>