<% include ./head %>

<div class="container center">

    <h2>TSL Read Data Archive</h2>

    <p>If you are new to the Read Data Archive please read the <a
                href="https://docs.google.com/document/d/1feYy6TET8gAIZqZq9A9srPZFmg6plFHSFKpRZd9WIj0/edit?usp=sharing">
            beginners guide</a>
    </p>

    <a href="/groups" class="button big center primary">Show groups</a>

</div>

<% include ./foot %>