html {
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    height: auto;
    margin-top: 56px;
}

::selection {
    background: #F15563;
}

::-moz-selection {
    background: #F15563;
}

.head {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #46C0EB;
    font-weight: 800;


    webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
}

/*.head:before {*/
/*webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);*/
/*-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);*/
/*box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);*/
/*content: "";*/
/*height: 40px;*/
/*left: -2%;*/
/*position: fixed;*/
/*width: 104%;*/
/*will-change: top, left;*/
/*top: 0;*/
/*}*/

.head img {
    height: 18px;
    vertical-align: middle;
}

.head a {
    color: white;
}

.head a:hover {
    color: #3D4351;
}

a {
    color: #00B7FF;
}

a:hover, a:focus {
    text-decoration: none;
    color: #008acd;
}

#footer {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #f5f5f5;
}

#footer p {
    margin: 0;
}

.red {
    color: #E74C3C;
}

.sub-title {
    font-size: .7em;
}

.underline {
    text-decoration: underline;
}

.btn {
    font-weight: 600;
}

.no-margin {
    margin: 0;
}

.file-group {
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
}

ul.no-decoration, li.no-decoration {
    list-style: none;
}

.hidden {
    display: none;
}

/*h1, h2, h3, h4, h5, h6 {*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
/*}*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
    width: 100%
}

.tile-group .tile:first-child:not(:last-child) {
    width: 50%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right: 1px solid #fff;
}

.tile-group .tile:last-child:not(:first-child) {
    float: left;
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-right: 1px solid #fff;
}

.fa-info-circle {
    color: #00B5FF;
}

.tile i {
    line-height: 2rem;
}