html {
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    text-overflow: ellipsis;
    overflow-x: hidden; /*TODO this might be a bad idea*/
    word-wrap: break-word;
}

::selection {
    background: #F15563;
}

::-moz-selection {
    background: #F15563;
}

fieldset span {
    font-size: 0.8em;
    font-weight: 400;
    display: block;
}

.head {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #46C0EB;

    /*webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);*/
}

.footer {
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #46C0EB;

    /*webkit-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);*/

}

.button:hover, .tile:hover {
    /*webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);*/
}

.head i, .footer i {
    vertical-align: middle;
}

.head img {
    height: 18px;
    vertical-align: middle;
}

.head, .footer {
    color: white;
}

.head a, .footer a {
    color: white;
}

.head a:hover, .footer a:hover {
    color: #3d4351;
}

a {
    color: #3BBFED;
}

a:hover, a:focus {
    text-decoration: none;
    color: #3bafda;
}

.red {
    color: #E74C3C;
}

.sub-title {
    font-size: .7em;
}

.underline {
    text-decoration: underline;
}

.btn {
    font-weight: 600;
}

.no-margin {
    margin: 0;
}

.file-group {
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
}

ul.no-decoration, li.no-decoration {
    list-style: none;
}

.hidden {
    display: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
    width: 100%
}

.tile-group .tile:first-child:not(:last-child) {
    width: 50%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right: 1px solid #fff;
}

.tile-group .tile:last-child:not(:first-child) {
    float: left;
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-right: 1px solid #fff;
}

.fa-info-circle {
    color: #00B5FF;
}

.tile i {
    line-height: 2rem;
}

.tile.unknown {
    border: 4px dashed black;
}

b {
    font-weight: 900;
}

label, legend {
    margin-bottom: 0;
}

button.thin, input.thin {
    height: 20px;
    line-height: 18px;
    padding: 0 6px;
}

/*CSS PROGRESS BAR*/

.meter {
    /*height: 20px; !* Can be anything *!*/
    position: relative;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 4px;
    border: 1px solid #d1d1d1;
}

.meter > span {
    text-align: center;
    line-height: 1.4rem;
    font-size: 1.2rem;
    height: 23px;
    width: 0;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-color: #a0d468;
    position: relative;
    overflow: hidden;
}

input[type=submit][disabled=disabled],
button[disabled=disabled],
input[type=submit]:disabled,
button:disabled {
    /*background-color: grey !important;*/
    /*border-color: darkgray !important;*/
    /*color: white !important;*/
    opacity: 0.65 !important;
    cursor: not-allowed !important;
}