<% include ../head.ejs %>
<div class="container">
    <h3><a href="/<%- selectedGroup.safeName %>"><i class="fa fa-chevron-left"></i> Back to projects</a></h3>

    <h2>New project</h2>

    <form action="/<%- selectedGroup.safeName %>/new" method="POST" enctype="multipart/form-data">

        <fieldset>
            <label for="name">Project name</label>
            <span>Please choose a short, informative name to identify your project.</span>
            <input type="text" id="name" name="name" required>
        </fieldset>

        <fieldset>
            <label for="responsiblePerson">Data owner's TSL email address</label>
            <span>If you are submitting this project on behalf of somebody else, please provide their TSL email address.</span>

            <input type="email" id="responsiblePerson" name="responsiblePerson" value="<%- locals.signedInUser.mail %>"
                   required>
        </fieldset>

        <fieldset>
            <label for="secondaryContact">Secondary contact's TSL email address</label>
            <span>This should be your closest collaborator on the project. Alternatively, name the RA/lab manager of your group.</span>

            <input type="email" id="secondaryContact" name="secondaryContact">
        </fieldset>

        <fieldset>
            <label for="shortDescription">Short description of the project</label>
            <span>One short, descriptive sentence of what the project is about."</span>
            <input type="text" id="shortDescription" name="shortDescription" required></textarea>
        </fieldset>

        <fieldset>
            <label for="longDescription">Long description of the project</label>
            <span>Please provide a longer description/abstract of what the project is about.</span>
            <textarea rows="3" id="longDescription" name="longDescription" required></textarea>
        </fieldset>

        <fieldset class="file-group" id="additionalDataDiv">
            <label>Supporting files</label>
            <span>Please upload any documentation obtained from the sequencing provider, including copies of the communication. If the documentation pertains only to a certain sample or data set, then please add it there instead."</span>
            <div id="additionalData"></div>
        </fieldset>

        <button type="submit" class="button success">Submit</button>
    </form>

</div>

<script>
    var additional = document.getElementById('additionalData');
    var addtionalLoader = fileUploader(additional, false, 'additional').setMin(0).setAcceptedTypes(['.png']);

</script>


<% include ../foot.ejs %>