<% include ../head %>
<div class="container">
    <h3><a href="/"><i class="fa fa-chevron-left"></i> Projects</a></h3>

    <h1>New project</h1>

    <form action="/new" method="POST">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </fieldset>

        <fieldset>
            <label for="lab">Group</label>
            <select id="lab" name="lab" class="form-control" required>
                <option value="">Select Group</option>
                <option>Jonathan Jones Group</option>
                <option>Sophien Kamoun Group</option>
                <option>Ksenia Krasileva Group</option>
                <option>Matthew Moscou Group</option>
                <option>Silke Robatzek Group</option>
                <option>Cyril Zipfel Group</option>
                <option>The 2Blades Group</option>
                <option>Bioinformatics</option>
                <option>Proteomics</option>
                <option>Synthetic Biology</option>
                <option>Tissue Culture & Transformation</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="responsiblePerson">Responsible person</label>
            <input type="text" class="form-control" id="responsiblePerson" name="responsiblePerson" required>
        </fieldset>
        <fieldset>
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </fieldset>

        <button type="submit" class="button button-primary">Add</button>
    </form>

</div>


<% include ../foot %>