<% include ../head %>
<div class="container">
    <h3><a href="/<%- project.safeName %>"><i class="fa fa-chevron-left"></i> <%- project.name %></a></h3>

    <h1>New Sample</h1>

    <form action="/<%- project.safeName %>/new" method="POST" enctype="multipart/form-data">

        <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </fieldset>

        <fieldset>
            <label for="uniqueName">Unique Name</label>
            <input type="text" id="uniqueName" name="uniqueName" required>
        </fieldset>

        <fieldset>
            <label for="organism">Organism</label>
            <input type="text" id="organism" name="organism" required>
        </fieldset>

        <fieldset>
            <label for="ncbi">NCBI</label>
            <input type="text" id="ncbi" name="ncbi" required>
        </fieldset>

        <fieldset>
            <label for="conditions">Conditions</label>
            <input type="text" id="conditions" name="conditions" required>
        </fieldset>

        <button type="submit" class="button button-primary">Add</button>
    </form>

</div>


<% include ../foot %>